*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: montRegular;
  src: url('/fonts/Montserrat/Montserrat-Regular.ttf');
}
@font-face {
  font-family: montBold;
  src: url('/fonts/Montserrat/Montserrat-Bold.ttf');
}
@font-face {
  font-family: montMedium;
  src: url('./fonts/Montserrat/Montserrat-Medium.ttf');
}
@font-face {
  font-family: montMediumItalic;
  src: url('/fonts/Montserrat/Montserrat-MediumItalic.ttf');
}
body {
  padding-top: 140px;
  font-family: montMedium;
  color: #092b36;
}
input,
label {
  display: block;
}
.main {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}
.headers {
  margin-bottom: 2.5rem;
  text-align: center;
}
.register-page {
  margin-top: 4rem;
}

.logo {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.nav-link {
  color: #ffffff !important;
}
.constrasting-color {
  color: #b95c5c;
}
.theme-color-dark-1 {
  color: #092b36;
}
.card {
  width: 400px;
}
.card-bottom-container {
  display: flex;
  justify-content: space-between;
}
.card-button-item {
  align-self: center;
}

.card-info {
  align-self: flex-center;
}
.price {
  color: #092b36;
  /* stroke: red;
  opacity: 0.5; */
  fill: red;
}

.price::before {
  display: block;
  position: relative;
  top: -8px;
  content: url('images/euro.svg');
  background-size: 22px 22px;
  height: 20px;
  width: 20px;
  /* background-color: #092b36; */
  /* read up on  mask  */
  /* stroke: red; */
  opacity: 1;
}
.img-overlay {
  background-color: rgb(117, 41, 41, 1);
  opacity: 0.6;

  overflow: hidden;
}

/* .card-image-top {
  object-fit: cover;
  opacity: 0.4;
} */
.winner {
  position: absolute;
  top: -15px;
  right: -45px;
  width: 200px;
  padding: 0px;
  z-index: 10;
  animation: rotate 2s ease alternate infinite;
}

.trophy-body-shadow {
  animation: bling 2s ease alternate infinite;
}
.trophy-plate {
  /* fill: linear-gradient(to bottom right, red, yellow); */
  animation: bling 1s ease-alternate infinite;
}
/* svg {
  fill: currentColor;
} */
.trophy-body {
  fill: #b95c5c;
  /* fill: linear-gradient(to bottom right, red, yellow); */
}

.trophy-plate-border {
  animation: bling 2s ease alternate infinite;
}

.card-columns {
  position: relative;
}

@keyframes bling {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(40deg);
  }
}

/* Animations */
/* @keyframes kaboom {
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
} */
/* @keyframes popup {
  0% {
    transform: translateY(150px);
  }
  34% {
    transform: translateY(20px);
  }
  37% {
    transform: translateY(150px);
  }
  100% {
    transform: translateY(150px);
  }
} */
/* ------------------------ forms ---------------------------- */
.register-form-wrapper {
  border: 1px solid #b8bcc0;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  color: white;
  background: rgba(52, 59, 58, 0.9);
}
.register-form {
  margin-bottom: 80px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.register-img {
  max-width: 100%;
  margin-top: 30px;
}

.btn,
.btn-primary {
  color: #fff;
  border-color: #f95c5c;
  background-color: #a85c5c !important;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):focus,
.btn-primary:not(:disabled):not(.disabled):visited,
.btn:not(:disabled):not(.disabled):active,
.btn:not(:disabled):not(.disabled):focus,
.btn:not(:disabled):not(.disabled):visited {
  color: #fff;
  background-color: #c56868 !important;
  border-color: #b95c5c;
}
.btn-primary:hover {
  border: 1px solid #7e4040;
  border-color: #9e3434;
  color: white;
  background-color: #b95c5c !important;
  text-decoration: none;
  outline: none;
}

.btn-outline-primary {
  color: #b95c5c;
  border-color: #f95c5c;
}

.btn-outline-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #c56868;
  border-color: #b95c5c;
}
.btn-outline-primary:hover {
  border: 1px solid #7e4040;
  border-color: #9e3434;
  color: white;
  background-color: #b95c5c;
  text-decoration: none;
  outline: none;
}

/* ------------------------------------------------------------------------- */
.large-input-field {
  padding: 1.8rem;
}
