*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: montRegular;
  src: url('/fonts/Montserrat/Montserrat-Regular.ttf');
}
@font-face {
  font-family: montBold;
  src: url('/fonts/Montserrat/Montserrat-Bold.ttf');
}
@font-face {
  font-family: montMedium;
  src: url('./fonts/Montserrat/Montserrat-Medium.ttf');
}
@font-face {
  font-family: montMediumItalic;
  src: url('/fonts/Montserrat/Montserrat-MediumItalic.ttf');
}
body {
  padding-top: 140px;
  font-family: montMedium;
  color: #092b36;
}
.main {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}
.listing-header {
  text-align: center;
  padding-bottom: 20px;
}
.logo {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.nav-link {
  color: #ffffff !important;
}
.constrasting-color {
  color: #b95c5c;
}
.theme-color-dark-1 {
  color: #092b36;
}
.card {
  width: 400px;
}
.btn,
.btn-outline-primary {
  color: #b95c5c;
  border-color: #b95c5c;
}

.btn:hover,
.btn-outline-primary:hover {
  border-color: #9e3434;
  background-color: #b95c5c;
}
/* TODO create my own buttons instead more work to override bootstrap buttons
than.... */

.btn:active,
.btn:focus,
.btn-outline-primary:active,
.btn-outline-primary:focus {
  border: 1px solid #7e4040;
  border-color: #9e3434;
  color: white;
  background-color: #b95c5c;
  text-decoration: none;
  outline: none;
}
.card-bottom-container {
  display: flex;
  justify-content: space-between;
}
.card-button-item {
  align-self: center;
}

.card-info {
  align-self: flex-center;
}
.price {
  color: 092b36;
  stroke: red;
}

.price::before {
  display: block;
  position: relative;
  top: -8px;
  content: url('images/euro.svg');
  background-size: 22px 22px;
  height: 22px;
  width: 22px;
  stroke: blue;
  fill: red;
  color: red;
  opacity: 1;
}
/* .img-overlay-wrap {
  postion: relative;
  display: inline-block;
  transition: transform 150ms ease-in-out;
} */

/* .img-overlay-wrap img {
  display: block;
  max-width: 100%;
  height auto;
} */
/* .img-overlay-wrap svg{
  display: inline;
  position: absolute;
  top: 0;
  left: 0;
} */

/* .img-overlay-wrap:hover {
  transform: rotate(15deg);
} */

.winner {
  position: absolute;
  /* top:-15px; 
 left: 200px; */
  top: -15px;
  right: -45px;
  width: 200px;
  padding: 0px;
  z-index: 10;
  animation: rotate 2s ease alternate infinite;
}
/* .trophy-foot {
  animation: kaboom 3s ease alternate infinite;
} */
/* .trophy-body {
  transform: translateY(150px);
  animation: popup 10s 6.5s ease infinite;

} */
.trophy-body-shadow {
  animation: bling 2s ease alternate infinite;
}
.trophy-plate {
  /* animation: kaboom 3s ease alternate infinite; */
  fill: linear-gradient(to bottom right, red, yellow);

  animation: bling 1s ease-alternate infinite;
}
.trophy-plate-border {
  animation: bling 2s ease alternate infinite;
}
/* .trophy-right-handle {
  animation: kaboom 3s ease alternate infinite;
}
.trophy-left-handle {
  animation: kaboom 3s ease alternate infinite;
} */

.card-columns {
  position: relative;
}
/* Animations */
@keyframes kaboom {
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes popup {
  0% {
    transform: translateY(150px);
  }
  34% {
    transform: translateY(20px);
  }
  37% {
    transform: translateY(150px);
  }
  100% {
    transform: translateY(150px);
  }
}
@keyframes bling {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(40deg);
  }
}
