*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: montRegular;
  src: url('/fonts/Montserrat/Montserrat-Regular.ttf');
}
@font-face {
  font-family: montBold;
  src: url('/fonts/Montserrat/Montserrat-Bold.ttf');
}
@font-face {
  font-family: montMedium;
  src: url('./fonts/Montserrat/Montserrat-Medium.ttf');
}
@font-face {
  font-family: montMediumItalic;
  src: url('/fonts/Montserrat/Montserrat-MediumItalic.ttf');
}
body {
  padding-top: 140px;
  font-family: montMedium;
  color: #092b36;
}

.logo {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.nav-link {
  color: #ffffff !important;
}
.constrasting-color {
  color: #b95c5c;
}
.theme-color-dark-1 {
  color: #092b36;
}
.card {
  width: 400px;
}
.btn,
.btn-outline-primary {
  color: #b95c5c;
  border-color: #b95c5c;
}

.btn:hover,
.btn-outline-primary:hover {
  border-color: #9e3434;
  background-color: #b95c5c;
}
/* TODO create my own buttons instead more work to override bootstrap buttons
than.... */

.btn:active,
.btn:focus,
.btn-outline-primary:active,
.btn-outline-primary:focus {
  border: 1px solid #7e4040;
  border-color: #9e3434;
  color: white;
  background-color: #b95c5c;
  text-decoration: none;
  outline: none;
}
.card-bottom-container {
  display: flex;
  justify-content: space-between;
}
.card-button-item {
  align-self: center;
}

.card-info {
  align-self: flex-center;
}
.price {
  color: 092b36;
  stroke: red;
}

.price::before {
  display: block;
  position: relative;
  top: -8px;
  content: url('images/euro.svg');
  background-size: 22px 22px;
  height: 22px;
  width: 22px;
  stroke: blue;
  fill: red;
  color: red;
  opacity: 1;
}
/* .img-overlay-wrap {
  postion: relative;
  display: inline-block;
  transition: transform 150ms ease-in-out;
} */

/* .img-overlay-wrap img {
  display: block;
  max-width: 100%;
  height auto;
} */
/* .img-overlay-wrap svg{
  display: inline;
  position: absolute;
  top: 0;
  left: 0;
} */

/* .img-overlay-wrap:hover {
  transform: rotate(15deg);
} */

.winner {
  position: absolute;
  /* top:-15px; 
 left: 200px; */
  top: -15px;
  right: -45px;
  width: 200px;
  padding: 0px;
  z-index: 10;
}
.card-columns {
  position: relative;
}
