{% extends "auctions/layout.html" %} {% block body %}
<h1>Listing</h1>
<ul>
  <li>{{ listing.title }}</li>
  <li>{{ listing.description }}</li>
  <li>{{ listing.starting_bid }}</li>
  <li>{{ listing.owner }}</li>
  <li>
    {% if listing.image_url %}
    <img
      class="prod_image_small"
      src="{{ listing.image_url }}"
      alt="product image titled {{ listing.title }}"
    />
    {% endif %}
  </li>
  <li>{% if listing.active %}Active {% else %}This listing is inactive{% endif %}</li>
  <li>{% if listing.category %}{{ listing.category.name }} {% endif %}</li>
</ul>
Current highest bid: {{highest_bid}}


{% if error_msg != None %}
<div class="alert alert-danger">
  {{ error_msg }}
</div>
{% endif %}

{% if user.is_authenticated and listing.owner.id !=  user.id and  listing.active %}
<form action="{% url 'listing' listing.id %}" method="post">
  {% csrf_token %} {{ form.as_p }}
  <input class="btn btn-primary" type="submit" value="Place bid" />
</form>
</div>

<form action="{% url 'watchlist' user.id %}" method= "post">
{% csrf_token %}
  {% if is_watched %}
  <input class="btn btn-primary" type="submit" value="UnWatch">
{% else %}
  <input class="btn btn-primary" type="submit" value="Watch">
{% endif %}
  <input type="hidden" name="lst_id" value={{ listing.id }} >
  <input type="hidden" name="already_watched" value={{ is_watched }} >
</form>
{% endif %}
{% if listing.owner.id ==  user.id %}
<form action="{% url 'listing' listing.id %} " method="post">
{% csrf_token %}
  <input class="btn btn-primary" type="submit" value="Close auction">
  <input type="hidden" name="closeauction" value='True' >
  <input type="hidden" name="lst_id" value={{ listing.id }} >
</form>
{% endif %}
{% endblock body %}
