{% extends 'auctions/layout.html' %}
{% load static %}
 {% block body %}
 <main class="container d-flex align-items-center justify-content-center register-page">
<div class="register-img-wrapper d-none d-lg-block mr-5">
  <img class="register-img" src="{% static 'auctions/images/new_post.svg' %}" alt="filter image">
</div>

<div class="register-form-wrapper col-md-7 col-lg-5 ml-5">
  <h2 class="form-header"> Add new listing</h2>
<form class="register-form" action="{% url 'new_listing' %}" method="post">
  {% csrf_token %} 
  {{ form.as_p }}
  <input class="btn btn-primary shadow-none col-sm-12 " type="submit" value="Add" />
</form>
</div>
 </main>

{% endblock body %}
