{% extends 'auctions/layout.html' %} {% block body %}

<div class="main">
<h1 class="headers">Watchlist</h1>
<div class="card-columns">
{% for listing in listings%}
  {% include "auctions/card-component.html" %}
{% endfor %}
</div>

{% comment %} {% for listing in listings%}
<div>
  <ul>
    <li>{{ listing.title }}</li>
    <li>{{ listing.description }}</li>
    <li>{{ listing.starting_bid }}</li>
    <li>
      {% if listing.image_url %}
      <img
        class="prod_image_small"
        src="{{ listing.image_url }}"
        alt="product image titled {{ watchlist.listing.title }}"
      />
      {% endif %}
    </li>
    <li>{% if listing.active %}Active {% endif %}</li>
    <li>{% if listing.category %}{{ listing.category.name }} {% endif %}</li>
  </ul>
  <a href=" {% url 'listing' listing.id %}">Detailes</a>
</div>
{% endfor %}  {% endcomment %}


{% endblock body %}
